annotated-types
appnope
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
click
decorator
defusedxml
docker-pycreds
docopt
eval_type_backport
executing
fastjsonschema
filelock
fsspec
ftfy
gitdb
GitPython
huggingface-hub
idna
importlib_metadata
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
networkx
nltk
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
pipreqs
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
python-dateutil
PyYAML
pyzmq
referencing
regex
requests
rpds-py
sacremoses
sentry-sdk
setproctitle
six
smart-open
smmap
soupsieve
stack-data
sympy
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
typing_extensions
urllib3
wandb
wcwidth
webencodings
wrapt
yarg
zipp